{% extends 'base.html.twig' %}

{% block title %}Modifier EBook{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h2>Modifier un EBook</h2>

        {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.description) }}
        {{ form_row(form.price) }}
        {{ form_row(form.category) }}

        <button class="btn btn-success mt-3">💾 Enregistrer</button>
        <a href="{{ path('admin_catalogue') }}" class="btn btn-secondary mt-3">⬅ Retour</a>
        {{ form_end(form) }}
    </div>
{% endblock %}
