{% extends 'base.html.twig' %}
{% block title %}{{ ebook.title }}{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h2>{{ ebook.title }}</h2>
        <p>{{ ebook.description }}</p>
        <p><strong>Prix :</strong> {{ ebook.price }} €</p>
        <a href="{{ path('panier_add', { id: ebook.id, type: 'ebook' }) }}" class="btn btn-success">Ajouter au panier</a>
    </div>
{% endblock %}
