{% extends 'base.html.twig' %}

{% block title %}Demande pour devenir formateur{% endblock %}

{% block body %}
    <h1>Demande pour devenir formateur</h1>

    {{ form_start(form) }}
    {{ form_row(form.motivation) }}
    {{ form_row(form.experience) }}
    {{ form_end(form) }}
    <a href="{{ path("dashboard_path") }}"><button class="btn btn-primary">Go back</button></a>

{% endblock %}
