{% extends 'dashboard/UserDashboard.html.twig' %}

{% block body %}
    <h1>Modifier mon profil</h1>

    {{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.firstName) }}
    {{ form_row(form.lastName) }}
    <button class="btn btn-success">Enregistrer</button>
    {{ form_end(form) }}

    <a href="{{ path('user_show_profile') }}" class="btn btn-secondary mt-3">Retour au profil</a>
{% endblock %}
