{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mon Profil</h1>

    <ul>
        <li>Email : {{ user.email }}</li>
        <li>Prénom : {{ user.firstName }}</li>
        <li>Nom : {{ user.lastName }}</li>
    </ul>

    <a href="{{ path('user_profile') }}" class="btn btn-primary">Modifier mon profil</a>

    <form method="post" action="{{ path('app_delete_user') }}" onsubmit="return confirm('Es-tu sûr ?');">
        <input type="hidden" name="_method" value="DELETE">
        <button class="btn btn-danger mt-2">Supprimer mon compte</button>
    </form>
{% endblock %}
